.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.dashboard-table {
    width: 80%;
}

.dashboard-thead {
    background-color: #1D3C73;
    border-radius: 0 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    color: white;
    width: 10%;
}

.dashboard-td {
    border: 1px solid;
    border-color: hsl(0, 0%, 80%);
    padding: 0.5rem !important;
    width: 20%;
}

.dashboard-th {
    padding: 0.5rem !important;
    font-weight: normal !important;
    text-transform: capitalize;
}

.subdashboard-counter {
    display: flex;
    justify-content: center;
}