.table-wrapper {
  overflow: visible !important;
}

.th-component {
  background-color: #1D3C73;
  border-radius: 0 !important;
  width: 20% !important;
  padding: 0.5rem;
  color: white;
}

.dropdown-container {
  z-index: 2;
  overflow: visible !important;
  margin-bottom: 0.3rem;
}

.centered-cell {
  text-align: center !important;
  vertical-align: middle !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 0.2rem !important;
}

.th-component, .dropdown-container {
  height: 40px;
}

.btn-table {
  border: 0;
  background-color: white;
  margin-top: 0.5rem;
}

.add {
  color: green;
  margin-right: 100px;
}

.edit {
  color: blue;
  margin-right: 100px;
}

.expand {
  display: inline-flex !important;
  justify-content: space-between !important;
}

.delete-btn {
  color: red;
}