.table-wrapper {
    overflow: visible !important;
    width: 80% !important;
  }
  
  .th-component {
    background-color: #1D3C73;
    border-radius: 0 !important;
    width: 20%;
    padding: 10px;
    color: white;
  }
  
  .dropdown-container {
    z-index: 2;
    overflow: visible !important;
  }
  
  .centered-cell {
    text-align: center !important;
    vertical-align: middle !important;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 15px;
    margin-bottom: 0;
  }
  
  .th-component, .dropdown-container {
    height: 50px;
  }
  
  .btn-table {
    border: 0;
    background-color: white;
    margin-top: 15px;
  }
  
  .add {
    color: green;
    margin-right: 100px;
  }
  
  .expand {
    display: inline-flex !important;
    justify-content: space-between !important;
  }
  